// @media #{$medium-and-up} {
//   .container {
//     width: 90%;
//   }
// }

nav {
	.nav-wrapper {
		margin-left: 20px;
		margin-right: 20px;
	}
}

.pagination {
	a {
		font-size: 44px;
	}
	.older {
		float: right;
	}
	width: 100%;
}

footer.page-footer {
	margin-top: 100px;
}