@import "materialize";
@import "global";

.header {
	background-image: url("/static/img/express/xinyuxin.jpg");
	@include background-size(cover);
	height: 400px;
}

.index-container {
	margin-left: 20px;
	margin-right: 20px;
}

.section {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.section-1, .section-2 {
	margin-bottom: 0;
}

.block {
	.more-link {
		font-size: 16px;
	}

	.collection {
		.collection-item {
			.row {
				margin-bottom: 0;
			}
		}
	}
}